:root {
    --c-background: rgb(250, 250, 250);
    --c-white: rgb(255, 255, 255);
    --c-black: rgb(0, 0, 0);
    --c-soft-gray: rgb(219, 219, 219);
    --c-mid-gray: rgb(136, 153, 166);
    --c-green: rgb(30, 215, 96);
    --c-blue: rgb(84, 102, 226);
    --c-blue-10: rgba(84, 102, 226, 0.1);
}
