$colour-g-background: rgb(250, 250, 250);
$colour-g-text: rgb(0, 0, 0);
$colour-g-white: rgb(255, 255, 255);
$colour-g-black: rgb(0, 0, 0);
$colour-g-soft-gray: rgb(219, 219, 219);
$colour-g-mid-gray: rgb(136, 153, 166);
$colour-g-green: rgb(30, 215, 96);
$colour-g-blue: rgb(84, 102, 226);
$colour-g-blue-10: rgba(84, 102, 226, 0.1);
